* {
    margin: 0;
    padding: 0;
}

.parallax-1 {
    width: 100%;
    height: 100vh;
    background-image: url("images/sunset.png");
    background-size: 100% 100%;
    background-attachment: fixed;
    position: relative;
    backface-visibility: hidden;
    box-shadow: inset 0 0 0 1000px hsla(24, 16%, 13%, 0.4);
}
/*
.parallax-1 h2 {
    display: flex;
    width: 100%;
    height: 75vh;
    font-family: "Alice", serif;
    font-weight: 400;
    font-style: normal;
    font-size: 4rem;
    text-transform: uppercase;
    justify-content: center;
    align-items: center;
    color: #E6DBD0;
}
*/

.parallax-2 {
    width: 100%;
    height: 100vh;
    background-image: url("images/under_water.png");
    background-size: 100% 100%;
    background-attachment: fixed;
    position: relative;
    backface-visibility: hidden;
    box-shadow: inset 0 0 0 1000px hsla(24, 16%, 13%, 0.3);
}

/*
.parallax-2 h2 {
    display: flex;
    width: 100%;
    height: 100%;
    font-family: "Alice", serif;
    font-weight: 400;
    font-style: normal;
    font-size: 4rem;
    text-transform: uppercase;
    justify-content: center;
    align-items: center;
    color: #E6DBD0;
}
*/

.feature-select {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
    font-family: "Alice", serif;
    font-weight: 400;
    font-style: normal;
    justify-content: center;
    align-items: center;
    color: #E6DBD0;
}

.feature-select h2 {
    font-size: 3.8rem;
    text-transform: uppercase;
    padding-bottom: 1.6vh;
}

.feature-select a {
    font-size: 1.6rem;
    color: #E6DBD0;
    text-decoration: none;
    box-sizing: border-box;
    border-style: solid;
    border-color: #E6DBD0;
    padding-left: 2vw;
    padding-right: 2vw;
    padding-top: 1vh;
    padding-bottom: 1vh;
    border-radius: 0.5vw;
    border-width: 0.2rem;
}

.feature-select a:hover {
    background-color: #E6DBD0;
    color: #251f1b;
}

.nav-bar {
    display: inline-block;
    width: 100%;
    background-color: #251f1b;
}

.nav-bar a {
    text-decoration: none;
}

.nav-bar a:hover {
    color: hsla(30, 31%, 86%, 0.75);
}

.nav-icon {
    display: inline;
    width: 80px;
    height: 80px;
    padding-left: 1.5vw;
    padding-right: 1.5vw;
    padding-top: 1.8vh;
    padding-bottom: 1.8vh;
    float: left;
}

.nav-links {
    display: flex;
    padding-top: 2.8rem;
    font-family: "Alice", serif;
    font-weight: 400;
    font-style: normal;
    font-size: 1.2rem;
    text-transform: uppercase;
    justify-content: flex-end;
    padding-right: 2vw;
}

.nav-text {
    padding-left: 1.8rem;
    color: #E6DBD0;
}

.cur-nav {
    padding-left: 1.8rem;
    color: #ffb224;
}

.cur-nav a:hover {
    color: hsla(30, 31%, 86%, 0.75);
}

.reg-page {
    width: 100%;
    height: 100%;
    /*
    margin-left: 10vw;
    margin-right: 10vw;
    */
    margin-top: 10vh;
    margin-bottom: 10vh;
    text-align: center;
    font-family: "Alice", serif;
    font-weight: 400;
    font-style: normal;
}

.reg-page h1 {
    font-size: 2rem;
}

.reg-page h2 {
    font-size: 1.5rem;
}

.reg-page p {
    margin-left: 3vw;
    margin-right: 3vw;
    margin-top: 2vh;
    margin-bottom: 2vh;
    font-size: 1.2rem;
}

.reg-select {
    margin-top: 2vh;
    margin-bottom: 2vh;
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
    font-family: "Alice", serif;
    font-weight: 400;
    font-style: normal;
    justify-content: center;
    align-items: center;
    color: #E6DBD0;
}

.reg-select a {
    font-size: 1.3rem;
    color: #251f1b;
    text-decoration: none;
    box-sizing: border-box;
    border-style: solid;
    border-color: #251f1b;
    padding-left: 2vw;
    padding-right: 2vw;
    padding-top: 1vh;
    padding-bottom: 1vh;
    border-radius: 0.5vw;
    border-width: 0.2rem;
}

.reg-select a:hover {
    background-color: #251f1b;
    color: #E6DBD0;
}