* {
    margin: 0;
    padding: 0;
}

.nav-bar {
    display: inline-block;
    width: 100%;
}

.nav-bar a {
    color: #E6DBD0;
    text-decoration: none;
}

.nav-bar a:hover {
    color: hsla(30, 31%, 86%, 0.75);
}

.nav-icon {
    display: inline;
    width: 80px;
    height: 80px;
    padding: 1.5vw;
    float: left;
}

.nav-links {
    display: flex;
    padding: 3vw;
    font-family: "Alice", serif;
    font-weight: 400;
    font-style: normal;
    font-size: 1.4rem;
    text-transform: uppercase;
    color: #E6DBD0;
    justify-content: flex-end;
    padding-right: 2vw;
}

.nav-text {
    padding-left: 1.8rem;
}