<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>about - solicht</title>
        <link rel="icon" type="image/x-icon" href="../images/solicht_icon.ico">
        <link href="../style.css" rel="stylesheet" type="text/css" />
        <script src="../script.js"></script>
    </head>

    <body style="background-color: #E6DBD0;">
        <div>
             <!-- Main Navigation -->
            <header id="header">
                <div class="nav-bar">
                    <nav>
                        <a href="">
                            <img class="nav-icon" src="../images/solicht_icon_high_res.png">
                        </a>
                        <div class="nav-links">
                            <a href="index.html" class="nav-text">Home</a>
                            <a href="about.html" class="cur-nav">About</a>
                            <a href="projects.html" class="nav-text">Projects</a>
                            <a href="media.html" class="nav-text">Media</a>
                            <a href="works.html" class="nav-text">Works</a>
                        </div>
                    </nav>
                </div>
            </header>
        </div>
        <!-- Intro Page -->
        <div class="reg-page">
            <div>
                <img src="../images/cool_pink_friend.jpeg" alt="a round pink friend wearing solar eclipse glasses" style="width: 20vw; height: 20vew; padding-bottom: 3vh;">
            </div>
           <div>
                <h1>Who is Solicht?</h1>
                <p>Hi! I am Solicht, a high school student in Canada. The name "solicht" is an alias I sometimes use online.</p>
                <p>I enjoy coding and game dev. I also like photography and pixel art.</p>
            </div>
            <br />
            <div>
                <h1>Links</h1>
                <div class="reg-select">
                    <a href="https://github.com/solicht88" target="_blank">GitHub</a>
                </div>
            </div>
        </div> 
    </body>
</html>