<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>media - solicht</title>
        <link rel="icon" type="image/x-icon" href="../images/solicht_icon.ico">
        <link href="../style.css" rel="stylesheet" type="text/css" />
    </head>

    <body style="background-color: #251F1B;">
        <div class="parallax-1">
             <!-- Main Navigation -->
            <header id="header">
                <div class="nav-bar">
                    <nav>
                        <a href="">
                            <img class="nav-icon" src="../images/solicht_icon_high_res.png">
                        </a>
                        <div class="nav-links">
                            <a href="index.html" class="nav-text">Home</a>
                            <a href="about.html" class="nav-text">About</a>
                            <a href="projects.html" class="nav-text">Projects</a>
                            <a href="media.html" class="cur-nav">Media</a>
                            <a href="works.html" class="nav-text">Works</a>
                        </div>
                    </nav>
                </div>
            </header>
            <!--Featured Page-->
            <div class="feature-select" style="height:75vh;">
                <h2>Solicht</h2>
                <a href="https://github.com/solicht88" target="_blank" class="button-style">GitHub</a>
            </div>
        </div>
        
        <div class="parallax-2">
            <div class="feature-select">
                <h2>Projects</h2>
                <a href="projects.html" class="button-style">View All</a>
            </div>
        </div>
    </body>
</html>