<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>media - solicht</title>
        <link rel="icon" type="image/x-icon" href="../images/solicht_icon.ico">
        <link href="../style.css" rel="stylesheet" type="text/css" />
        <script src="../script.js"></script>
    </head>

    <body style="background-color: #E6DBD0;">
        <div class="">
             <!-- Main Navigation -->
            <header id="header">
                <div class="nav-bar">
                    <nav>
                        <a href="">
                            <img class="nav-icon" src="../images/solicht_icon_high_res.png">
                        </a>
                        <div class="nav-links">
                            <a href="index.html" class="nav-text">Home</a>
                            <a href="about.html" class="nav-text">About</a>
                            <a href="projects.html" class="nav-text">Projects</a>
                            <a href="media.html" class="cur-nav">Media</a>
                            <a href="works.html" class="nav-text">Works</a>
                        </div>
                    </nav>
                </div>
            </header>
            <!-- Gallery -->
             <div class="gallery">
                <div id="photos">
                    <h1>photos</h1>
                    <div>
                        <a href="../images/cool_pink_friend.jpeg" target="_blank"><img src="../images/cool_pink_friend.jpeg"></a>
                        <a href="../images/solicht_icon_high_res.png" target="_blank"><img src="../images/solicht_icon_high_res.png"></a>
                        <a href="../images/sunset.png" target="_blank"><img src="../images/sunset.png"></a>
                        <a href="../images/under_water.png" target="_blank"><img src="../images/under_water.png"></a>
                    </div>

                    <div>
                        <a href="../images/cool_pink_friend.jpeg" target="_blank"><img src="../images/cool_pink_friend.jpeg"></a>
                        <a href="../images/solicht_icon_high_res.png" target="_blank"><img src="../images/solicht_icon_high_res.png"></a>
                        <a href="../images/sunset.png" target="_blank"><img src="../images/sunset.png"></a>
                        <a href="../images/under_water.png" target="_blank"><img src="../images/under_water.png"></a>
                    </div>

                    <h1>art</h1>
                    <div>
                        <a href="../images/cool_pink_friend.jpeg" target="_blank"><img src="../images/cool_pink_friend.jpeg"></a>
                        <a href="../images/solicht_icon_high_res.png" target="_blank"><img src="../images/solicht_icon_high_res.png"></a>
                        <a href="../images/sunset.png" target="_blank"><img src="../images/sunset.png"></a>
                        <a href="../images/under_water.png" target="_blank"><img src="../images/under_water.png"></a>
                    </div>

                </div>
             </div>
        </div>
    </body>
</html>